- content_for :title do
  = @gallery.title

- content_for :right_hand_toolbar do
  .float-right
    = button_to gallery_path(@gallery), method: :delete, class: 'btn btn-light', title: 'Delete this gallery' do
      %i.far.fa-trash-alt
      &nbsp;
      Delete

  .float-right.mr-2
    = link_to edit_gallery_path(@gallery), class: 'btn btn-light', title: 'Edit this gallery' do
      %i.fas.fa-edit
      &nbsp;
      Edit

- if current_user == @gallery.user
  .card.bg-light
    .card-body
      %h4.card-title Upload a photo
      = form_with(url: gallery_photos_path(@gallery), method: :post) do |f|
        = f.file_field :file, title: 'Add photo to gallery'
        = f.submit 'Upload'

.mt-5

.card-columns
  - @photos.each do |photo|
    .card
      = gallery_image(photo)
      -# %img.card-img-top{ src: gallery_image_src(photo) } 
      .card-body
        %h5.card-title.photo-filename= photo.original_filename