!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ImageGallery
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      - flash.each do |key, value|
        %div{ class: "alert alert-#{key}" }= value
      
      %nav
        %ul
          %li= link_to 'Home', root_path
          - if user_signed_in?
            %li= link_to 'Log out', destroy_user_session_path, method: :delete
            %li= link_to 'View Galleries', galleries_path
          - else
            %li= link_to 'Log in', new_user_session_path
            %li= link_to 'Register', new_user_registration_path

      = yield
