!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ImageGallery
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:700&display=swap" rel="stylesheet">
  %body
    .navbar.navbar-dark.navbar-expand-lg{ style: 'background-color: #c0392b;' }
      %a.navbar-brand{ href: root_path }
        %i.fas.fa-bolt
        %i.fas.fa-camera-retro
        %i.fas.fa-bolt

      %button.navbar-toggler{ data: { toggle: "collapse", target: "#navbarSupportedContent" }, aria: { label: "Toggle navigation" }}
        %span.navbar-toggler-icon
    
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav
          - if user_signed_in?
            - if request.path != galleries_path
              %li.nav-item.active= link_to 'Your Galleries', galleries_path, class: 'nav-link'
            - unless request.path.in?(['/',  public_galleries_path])
              %li.nav-item.active= link_to 'Browse Galleries', public_galleries_path, class: 'nav-link'
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'
          - else
            %li.nav-item= link_to 'Log in', new_user_session_path, class: 'nav-link'
            %li.nav-item= link_to 'Register', new_user_registration_path, class: 'nav-link'

    - if content_for(:title) || content_for(:right_hand_toolbar)
      %header.w-100.p-3.text-light{ style: 'background-color: #e74c3c; font-family: "Be Vietnam", sans-serif' }
        .container

          .w-25.float-right.mt-10.mt-2.text-right= content_for(:right_hand_toolbar)
          %h1= content_for(:title)
    
    .container
      .mt-5
        - flash.each do |key, value|
          %div{ class: "alert alert-#{key}" }= value
        
        = yield
